.stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.stepperItemBar {
    
  flex: 1;
  width: 100%;
  height: 4px;
  min-width: 4px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;

  &.itemBarCompleted {
    background: #14171f;
  }

  &.itemBarPending {
    background: #e8e8e9;
  }

  &.itemBarInProgress {
    background: #a1a2a5;
  }
}

.stepperItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #14171f;

  &.itemPending {
    color: #b9babc;
  }
}

.stepperItemsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.stepperItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.stepperItemLabel {
  font-size: 12px;
  font-weight: 500;

  &.textCompleted {
    color: #b9babc;
  }
}

.stepperItemLine {
  flex: 1;
  width: 100%;
  height: 1px;
  background: #b9babc;
  min-width: 4px;
}

/* @media (max-width: 1023px) {
  .stepper .stepperItemLine {
    display: none;
  }
} */
