.button {
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* states */

.primary {
  color: white;
  background: #14171F;
  &:hover {
    background: #43454C;
  }
  &:active {
    background: #2C2F36;
  }
  /* &:focus {
    border: 4px solid #FFF;
    background: #14171F;
    box-shadow: 0px 0px 0px 2px #14171F;
  } */
  &:disabled {
    &:not(.loading) {
      background: #D0D1D2;
    }
  }
}

.secondary {
  color: #14171F;
  background: #F3F3F4;
}

.tertiary {
  color: #14171F;
  background: #FFF;
  border: 1px solid #E8E8E9;
}

.text {
  color: #14171F;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px; /* 100% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  background: transparent;
  padding: 0 !important;
}

.destructive {
  color: #FBE4E4;
  background: #B33737;
}

.full {
  width: 100%;
}

.fit {
  width: fit-content;
}

.auto {
  width: auto;
}

.L {
  height: 48px;
  font-size: 16px;
}

.M {
  height: 44px;
  font-size: 14px;
}

.S {
  height: 40px;
  font-size: 14px;
}
