:root {
  --stroke-color: #E8E8E9;
  --error-color: #DB4646;
  --primary-color: #000000;
  --disabled-color: #727479;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.otpContainer {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.otpInput {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  outline: 1px solid var(--stroke-color, #E8E8E9);
  border: none;
  border-radius: 8px;
  background-color: white;
  transition: all 0.2s ease;
  color: var(--disabled-color, #727479);
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.otpInput:focus {
  border:none;
  outline-color: var(--primary-color, #000000);
  color: var(--primary-color, #000000);
}

.otpInputError {
  outline-color: var(--error-color, #DB4646);
  color: var(--error-color, #DB4646);
}

.otpInputError:focus {
  outline-color: var(--error-color, #DB4646);
}

.forgotButton {
  background: none;
  border: none;
  color: var(--primary-color, #000000);
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  margin-top: 8px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.forgotButton:hover {
  color: var(--primary-color, #000000);
  text-decoration: underline;
}

.forgotButton:focus {
  outline: none;
  text-decoration: underline;
} 

.otpInputSmall {
  width: 3.125rem;
  height: 3.125rem;
}


.otpInputLarge {
  width: 3.875rem;
  height: 3.875rem;
}

.errorText {
  color: var(--error-color) !important;
}

.inputFeedback {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}